<!-- TODO - module a-modal-preview -->
<div class="container"> 
  <div class="a-modal-preview for-effects">  
         
    <div class="a-modal-preview__container">         
          
      <div class="a-modal-preview__container-left">                                                         
        <div class="a-modal-preview__img-box">                           
          <img class="a-modal-preview__img a-modal-click-1" src="img/preview/fm-1.webp" alt="colored cube">           
        </div>                           
        <div class="a-modal-preview__img-box">                          
          <img class="a-modal-preview__img a-modal-click-2" src="img/preview/fm-8.webp" alt="colored cube">        
        </div>                                                                                                       
      </div> 
            
      <div class="a-modal-preview__container-right">                                                                        
        <div class="a-modal-preview__img-box">                         
          <img class="a-modal-preview__img a-modal-click-3" src="img/preview/fm-3.webp" alt="colored cube">              
        </div>                         
        <div class="a-modal-preview__img-box">                          
          <img class="a-modal-preview__img a-modal-click-4" src="img/preview/fm-2.webp" alt="colored cube">              
        </div>                                                                                                       
      </div>                                                                                       
            
    </div>
    
    <div class="a-modal-preview__container">         
          
      <div class="a-modal-preview__container-left">                                                         
        <div class="a-modal-preview__img-box">                           
          <img class="a-modal-preview__img a-modal-click-5" src="img/preview/fm-5.webp" alt="colored cube">           
        </div>                           
        <div class="a-modal-preview__img-box">                          
          <img class="a-modal-preview__img a-modal-click-6" src="img/preview/fm-13.webp" alt="colored cube">        
        </div>                                                                                                       
      </div> 
            
      <div class="a-modal-preview__container-right">                                                                        
        <div class="a-modal-preview__img-box">                         
          <img class="a-modal-preview__img a-modal-click-7" src="img/preview/fm-10.webp" alt="colored cube">              
        </div>                         
        <div class="a-modal-preview__img-box">                          
          <img class="a-modal-preview__img a-modal-click-8" src="img/preview/fm-4.webp" alt="colored cube">              
        </div>                                                                                                       
      </div>                                                                                       
            
    </div>
                                  
  </div><!-- a-modal-preview -->
</div>
<!-- module a-modal-preview -->

<!-- TODO - a-modal-img -->
<div id="a-modal-img" class="a-modal-img">
  <div class="a-modal-img__layer">   
    <div class="a-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="a-modal-img__image" src="img/fm-1.jpg" alt="photo">
    </div>  
          
    <div class="a-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="a-modal-img__image" src="img/fm-8.jpg" alt="photo">
    </div>   
          
    <div class="a-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="a-modal-img__image" src="img/fm-3.jpg" alt="photo">
    </div>
          
    <div class="a-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="a-modal-img__image" src="img/fm-2.jpg" alt="photo">
    </div>
    
    <div class="a-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="a-modal-img__image" src="img/fm-5.jpg" alt="photo">
    </div>  
          
    <div class="a-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="a-modal-img__image" src="img/fm-13.jpg" alt="photo">
    </div>   
          
    <div class="a-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="a-modal-img__image" src="img/fm-10.jpg" alt="photo">
    </div>
          
    <div class="a-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="a-modal-img__image" src="img/fm-4.jpg" alt="photo">
    </div>
  </div>
</div>
