<!-- TODO - module b-lightbox -->
<div id="b-lightbox">  
         
    <div class="b-lightbox__modal b-switching">
            
      <div class="b-lightbox__images-box b-switching">
      <!--<div class="numbertext">1 / 7</div>-->
        <img class="b-lightbox__images b-switching" src="img/fm-10.jpg" alt="starlandscape">
      <!--<div class="text">Подпись текста</div>-->
      </div>

      <div class="b-lightbox__images-box b-switching">
      <!--<div class="numbertext">2 / 7</div>-->
        <img class="b-lightbox__images b-switching" src="img/fm-13.jpg" alt="starlandscape">
      <!--<div class="text">Подпись текста</div>-->
      </div>

      <div class="b-lightbox__images-box b-switching">
      <!--<div class="numbertext">3 / 7</div>-->
        <img class="b-lightbox__images b-switching" src="img/fm-5.jpg" alt="photo of the Milky Way">
      <!--<div class="text">Подпись два</div>-->
      </div>

      <div class="b-lightbox__images-box b-switching">
      <!--<div class="numbertext">4 / 7</div>-->
        <img class="b-lightbox__images b-switching" src="img/fm-9.jpg" alt="star cluster image">
      <!--<div class="text">Подпись три</div>-->
      </div>

      <div class="b-lightbox__images-box b-switching">
      <!--<div class="numbertext">5 / 7</div>-->
        <img class="b-lightbox__images b-switching" src="img/fm-11.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <div class="b-lightbox__images-box b-switching">
      <!--<div class="numbertext">6 / 7</div>-->
        <img class="b-lightbox__images b-switching" src="img/fm-8.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <div class="b-lightbox__images-box b-switching">
      <!--<div class="numbertext">7 / 7</div>-->
        <img class="b-lightbox__images b-switching" src="img/fm-3.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>
      
      <div class="b-lightbox__images-box b-switching">
      <!--<div class="numbertext">8 / 8</div>-->
        <img class="b-lightbox__images b-switching" src="img/fm-2.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <span class="b-lightbox__close b-controls b-hide">&times;</span>
      
      <span class="b-lightbox__full b-controls b-icon-mod fas"></span>

      <a class="b-lightbox__prev b-controls b-hide">&#10094;</a>
      <a class="b-lightbox__next b-controls b-hide">&#10095;</a>

      <div class="b-lightbox__dot-box b-controls b-hide">
        <span class="b-lightbox__dot"></span> 
        <span class="b-lightbox__dot"></span>
        <span class="b-lightbox__dot"></span> 
        <span class="b-lightbox__dot"></span> 
        <span class="b-lightbox__dot"></span>
        <span class="b-lightbox__dot"></span>
        <span class="b-lightbox__dot"></span>
        <span class="b-lightbox__dot"></span>
      </div>

    </div>

  

  <!--
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div>
  -->
        
</div>     
        
          

