<!-- TODO - module fl-lightbox -->
<div id="fl-lightbox">
          
  <div id="modal-layer" class="fl-lightbox__modal-layer">    
         
    <div class="fl-lightbox__modal fl-switching">
            
      <div class="fl-lightbox__images-box fl-switching">
      <!--<div class="numbertext">1 / 7</div>-->
        <img class="fl-lightbox__images fl-switching" src="img/fm-1.jpg" alt="starlandscape">
      <!--<div class="text">Подпись текста</div>-->
      </div>

      <div class="fl-lightbox__images-box fl-switching">
      <!--<div class="numbertext">2 / 7</div>-->
        <img class="fl-lightbox__images fl-switching" src="img/fm-2.jpg" alt="starlandscape">
      <!--<div class="text">Подпись текста</div>-->
      </div>

      <div class="fl-lightbox__images-box fl-switching">
      <!--<div class="numbertext">3 / 7</div>-->
        <img class="fl-lightbox__images fl-switching" src="img/fm-3.jpg" alt="photo of the Milky Way">
      <!--<div class="text">Подпись два</div>-->
      </div>

      <div class="fl-lightbox__images-box fl-switching">
      <!--<div class="numbertext">4 / 7</div>-->
        <img class="fl-lightbox__images fl-switching" src="img/fm-4.jpg" alt="star cluster image">
      <!--<div class="text">Подпись три</div>-->
      </div>

      <div class="fl-lightbox__images-box fl-switching">
      <!--<div class="numbertext">5 / 7</div>-->
        <img class="fl-lightbox__images fl-switching" src="img/fm-5.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <div class="fl-lightbox__images-box fl-switching">
      <!--<div class="numbertext">6 / 7</div>-->
        <img class="fl-lightbox__images fl-switching" src="img/fm-6.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>

      <div class="fl-lightbox__images-box fl-switching">
      <!--<div class="numbertext">7 / 7</div>-->
        <img class="fl-lightbox__images fl-switching" src="img/fm-13.jpg" alt="supernova 1a explosion">
      <!--<div class="text">Подпись четыре</div>-->
      </div>
      
      <span class="fl-lightbox__close fl-controls">&times;</span>

      <a class="fl-lightbox__prev fl-controls">&#10094;</a>
      <a class="fl-lightbox__next fl-controls">&#10095;</a>

      <div class="fl-lightbox__dot-box fl-controls">
        <span class="fl-lightbox__dot"></span> 
        <span class="fl-lightbox__dot"></span>
        <span class="fl-lightbox__dot"></span> 
        <span class="fl-lightbox__dot"></span> 
        <span class="fl-lightbox__dot"></span>
        <span class="fl-lightbox__dot"></span>
        <span class="fl-lightbox__dot"></span>
      </div>

    </div>

  </div> <!-- gallery-layer -->

  <!--
  <div>
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div>
  -->
        
</div>     
        
          

