<!-- TODO - module fl-modal-preview -->
<div class="container"> 
  <div class="fl-modal-preview for-effects">  
         
    <div class="fl-modal-preview__container">         
          
      <div class="fl-modal-preview__container-left">                                                         
        <div class="fl-modal-preview__img-box">                           
          <img class="fl-modal-preview__img" src="img/preview/fm-1.webp" alt="colored cube">           
        </div>                           
        <div class="fl-modal-preview__img-box">                          
          <img class="fl-modal-preview__img" src="img/preview/fm-8.webp" alt="colored cube">        
        </div>                                                                                                       
      </div> 
            
      <div class="fl-modal-preview__container-right">                                                                        
        <div class="fl-modal-preview__img-box">                         
          <img class="fl-modal-preview__img" src="img/preview/fm-3.webp" alt="colored cube">              
        </div>                         
        <div class="fl-modal-preview__img-box">                          
          <img class="fl-modal-preview__img" src="img/preview/fm-2.webp" alt="colored cube">              
        </div>                                                                                                       
      </div>                                                                                       
            
    </div>
    
    <div class="fl-modal-preview__container">         
          
      <div class="fl-modal-preview__container-left">                                                         
        <div class="fl-modal-preview__img-box">                           
          <img class="fl-modal-preview__img" src="img/preview/fm-5.webp" alt="colored cube">           
        </div>                           
        <div class="fl-modal-preview__img-box">                          
          <img class="fl-modal-preview__img" src="img/preview/fm-13.webp" alt="colored cube">        
        </div>                                                                                                       
      </div> 
            
      <div class="fl-modal-preview__container-right">                                                                        
        <div class="fl-modal-preview__img-box">                         
          <img class="fl-modal-preview__img" src="img/preview/fm-10.webp" alt="colored cube">              
        </div>                         
        <div class="fl-modal-preview__img-box">                          
          <img class="fl-modal-preview__img" src="img/preview/fm-4.webp" alt="colored cube">              
        </div>                                                                                                       
      </div>                                                                                       
            
    </div>
                                  
  </div><!-- fl-modal-preview -->
</div>
<!-- module fl-modal-preview -->

<!-- TODO - fl-modal-img -->
<div id="fl-modal-img" class="fl-modal-img">
  <div class="fl-modal-img__layer">   
    <div class="fl-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="fl-modal-img__image" src="img/fm-1.jpg" alt="photo">
    </div>  
          
    <div class="fl-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="fl-modal-img__image" src="img/fm-8.jpg" alt="photo">
    </div>   
          
    <div class="fl-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="fl-modal-img__image" src="img/fm-3.jpg" alt="photo">
    </div>
          
    <div class="fl-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="fl-modal-img__image" src="img/fm-2.jpg" alt="photo">
    </div>
    
    <div class="fl-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="fl-modal-img__image" src="img/fm-5.jpg" alt="photo">
    </div>  
          
    <div class="fl-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="fl-modal-img__image" src="img/fm-13.jpg" alt="photo">
    </div>   
          
    <div class="fl-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="fl-modal-img__image" src="img/fm-10.jpg" alt="photo">
    </div>
          
    <div class="fl-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="fl-modal-img__image" src="img/fm-4.jpg" alt="photo">
    </div>
  </div>
</div>
