
  <!-- https://javascript.info/task/carousel TODO - задача -->
  <!-- https://plnkr.co/edit/U6VSlPwWpUfHzlRB?p=preview&preview TODO - решение -->
<div class="container">
  <div id="t-carousel" class="t-carousel">
    <a class="t-arrow t-prev fas fa-angle-left"></a>
    <div class="t-carousel__gallery">
      <ul class="t-carousel__list">
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-1.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-2.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-3.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-4.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-5.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-6.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-13.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-8.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-9.webp" alt="image"></li>
        <li class="t-carousel__list-item"><img class="t-carousel__preview-img" src="img/preview/fm-10.webp" alt="image"></li>
      </ul>
    </div>
    <a class="t-arrow t-next fas fa-angle-right"></a>
  </div>
</div>


<!-- TODO - t-modal-img -->
<div id="t-modal-img" class="t-modal-img">
  <div class="t-modal-img__layer">   
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-1.jpg" alt="photo">
    </div>  
          
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-2.jpg" alt="photo">
    </div>   
          
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-3.jpg" alt="photo">
    </div>
          
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-4.jpg" alt="photo">
    </div>
    
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-5.jpg" alt="photo">
    </div>  
          
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-6.jpg" alt="photo">
    </div>   
          
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-13.jpg" alt="photo">
    </div>
          
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-8.jpg" alt="photo">
    </div>
    
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-9.jpg" alt="photo">
    </div>
    
    <div class="t-modal-img__image-box">
      <span class="icon-close-img far fa-times-circle"></span>
      <img class="t-modal-img__image" src="img/fm-10.jpg" alt="photo">
    </div>
  </div>
</div>

